{
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "endOfLine": "lf",
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.js", "*.ts", "*.tsx", "*.jsx"],
            "options": {
                "semi": true,
                "trailingComma": "none"
            }
        },
        {
            "files": "*.json",
            "options": {
                "semi": false,
                "bracketSpacing": true,
                "trailingComma": "none",
                "singleQuote": false
            }
        }
    ]
}
